{% extends "template.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper">

      <h1 class="govuk-heading-l">Welcome back to {{ serviceName }}</h1>

      <p class="govuk-body">
        It looks like you may have returned from a visit to the Post Office. We need to retrieve the result of your identity check.
      </p>
      <p>
        Learn more about <a target="tech-docs" href="https://docs.sign-in.service.gov.uk/create-a-landing-page/" class="govuk-link">how to create a landing page</a> in our technical documentation.
      </p>
      
      {% if identitySupported %}
        {{ govukButton({
          text: "Retrieve the result of your identity check",
          href: "oidc/verify",
          isStartButton: true
        }) }}
      {% endif %}
  </main>
</div>
{% endblock %}