{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper">

      <h1 class="govuk-heading-l">You are logged out of {{ serviceName }}</h1>

      <p class="govuk-body">
        {{ message.text }}
      </p>

      {{ govukButton({
        text: "Start " + serviceName ,
        href: "/",
        isStartButton: true
      }) }}

    </div>
  </main>
</div>
{% endblock %}